body{
    display: flex;
}

form{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
}
fieldset{
    display: flex;
}
#leaves-image{
    width: 30vw;
    height: 100vh;
}
#left-side{
    display: flex;
}